
@font-face {font-family: "kfont";
  src: url('/ukfont/iconfont.eot?t=1484884962181'); /* IE9*/
  src: url('/ukfont/iconfont.eot?t=1484884962181#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/ukfont/iconfont.woff?t=1484884962181') format('woff'), /* chrome, firefox */
  url('/ukfont/iconfont.ttf?t=1484884962181') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('/ukfont/iconfont.svg?t=1484884962181#kfont') format('svg'); /* iOS 4.1- */
}

.kfont {
  font-family:"kfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before { content: "\e717"; }

.icon-icon2:before { content: "\e603"; }

.icon-weixin:before { content: "\e631"; }

.icon-user:before { content: "\e642"; }

.icon-mac:before { content: "\e6be"; }

.icon-zhi01:before { content: "\e62a"; }

.icon-user1:before { content: "\e60b"; }

.icon-attachment:before { content: "\e617"; }

.icon-linux:before { content: "\e726"; }

.icon-windows:before { content: "\e801"; }

.icon-ai:before { content: "\e65f"; }

.icon-msnui-logo-mac:before { content: "\e701"; }

.icon-attachment1:before { content: "\e61b"; }

.icon-import:before { content: "\e609"; }

.icon-icon:before { content: "\e604"; }

.icon-weixin1:before { content: "\e64d"; }

.icon-tel1:before { content: "\e613"; }

.icon-tel:before { content: "\e619"; }

.icon-phone:before { content: "\e637"; }

.icon-export:before { content: "\e62c"; }

.icon-shoujianxiang:before { content: "\e634"; }

.icon-iconfontagent:before { content: "\e620"; }

.icon-delete:before { content: "\e675"; }

.icon-phone1:before { content: "\e64a"; }

.icon-iconfontupgrade:before { content: "\e635"; }

.icon-password:before { content: "\e687"; }

.icon-import1:before { content: "\e641"; }

.icon-chat:before { content: "\e610"; }

.icon-demo25:before { content: "\e61c"; }

.icon-renzheng:before { content: "\e7e5"; }

.icon-license:before { content: "\e658"; }

.icon-password1:before { content: "\e618"; }

.icon-loginiconphone:before { content: "\e61f"; }

.icon-phone2:before { content: "\e629"; }

.icon-servergisfuwupingtai:before { content: "\e7fa"; }

.icon-vip:before { content: "\e71a"; }

.icon-user-copy:before { content: "\e600"; }

.icon-workflow1:before { content: "\e636"; }

.icon-poseidonworkflow:before { content: "\e664"; }

.icon-thumbsup:before { content: "\e661"; }

.icon-discharge_summary:before { content: "\e757"; }

.icon-logout:before { content: "\e622"; }

.icon-workflowmonitoring:before { content: "\e638"; }

.icon-zhishiguanli:before { content: "\e704"; }

.icon-words2:before { content: "\e614"; }

.icon-orders:before { content: "\e606"; }

.icon-iconknowledge:before { content: "\e807"; }

.icon-end-copy:before { content: "\e60e"; }

.icon-import2:before { content: "\e654"; }

.icon-import3:before { content: "\e65a"; }

.icon-iconfontivr:before { content: "\e66f"; }

.icon-history:before { content: "\e659"; }

.icon-fav_active:before { content: "\e623"; }

.icon-daiban-copy:before { content: "\e660"; }

.icon-history1:before { content: "\e60a"; }

.icon-iconfontfav-copy:before { content: "\e608"; }

.icon-weibiaoti201:before { content: "\e6b7"; }

.icon-knowledge:before { content: "\e628"; }

.icon-import4:before { content: "\e89a"; }

.icon-workflow:before { content: "\e632"; }

.icon-agentblacklist:before { content: "\e8a7"; }

.icon-shoujianxiangbiaoqianlan:before { content: "\e62b"; }

.icon-yiguanzhu:before { content: "\e624"; }

.icon-pc:before { content: "\e601"; }

.icon-phone3:before { content: "\e695"; }

.icon-work:before { content: "\e607"; }

.icon-off:before { content: "\e611"; }

.icon-phone4:before { content: "\e647"; }

.icon-callin:before { content: "\e625"; }

.icon-summaryline:before { content: "\e65c"; }

.icon-off1:before { content: "\e7e2"; }

.icon-export1:before { content: "\e605"; }

.icon-off2:before { content: "\e621"; }

.icon-history2:before { content: "\e690"; }

.icon-words:before { content: "\e61d"; }

.icon-90:before { content: "\e60d"; }

.icon-node_end:before { content: "\e61a"; }

.icon-shoujianxiangweixuanzhong:before { content: "\e602"; }

.icon-tag:before { content: "\e63f"; }

.icon-customer:before { content: "\e650"; }

.icon-dianhuahuiyi:before { content: "\e753"; }

.icon-daochu:before { content: "\e672"; }

.icon-userrole:before { content: "\e90b"; }

.icon-zhishi:before { content: "\e615"; }

.icon-userrole1:before { content: "\e7d0"; }

.icon-yinzhangshenpitongguo:before { content: "\e6a4"; }

.icon-yinzhangshenpijujue:before { content: "\e6a5"; }

.icon-30offlineoval:before { content: "\e689"; }

.icon-show_summary_img:before { content: "\e7c8"; }

.icon-zhishiku:before { content: "\e630"; }

.icon-ai1:before { content: "\e676"; }

.icon-knowledge1:before { content: "\e62d"; }

.icon-14guaduan-1:before { content: "\e67e"; }

.icon-zhishi1:before { content: "\e616"; }

.icon-call_transfer:before { content: "\e663"; }

.icon-priority:before { content: "\e82d"; }

.icon-zhishifenlei:before { content: "\e66c"; }

.icon-hang-up:before { content: "\e626"; }

.icon-AI:before { content: "\e66e"; }

.icon-m-quick-quotation:before { content: "\e63d"; }

.icon-ai2:before { content: "\e6ab"; }

.icon-zaixianjieda:before { content: "\e698"; }

.icon-Import:before { content: "\e65b"; }

.icon-transfer:before { content: "\e7be"; }

.icon-history3:before { content: "\e7eb"; }

.icon-import5:before { content: "\e60c"; }

.icon-zhishi2:before { content: "\e699"; }

.icon-icon-test:before { content: "\e67b"; }

.icon-shenpitongguo:before { content: "\e66a"; }

.icon-export2:before { content: "\e612"; }

.icon-shenpi_tongguo:before { content: "\e697"; }

.icon-shenpi_yijujue:before { content: "\e69a"; }

.icon-Summary_today:before { content: "\e60f"; }

.icon-icon_Dial_down:before { content: "\e679"; }

.icon-icon_knowledge:before { content: "\e655"; }

.icon-shenpituihui:before { content: "\e639"; }

.icon-attachment2:before { content: "\e61e"; }

.icon-Call:before { content: "\e670"; }

.icon-uicon_ai:before { content: "\e63a"; }

.icon-equipment_01:before { content: "\e71c"; }

.icon-icon_unknown_filled:before { content: "\e678"; }

.icon-icon_unknown_wirefra:before { content: "\e67a"; }

.icon-Ourknowledge:before { content: "\e643"; }

.icon-user-unknown:before { content: "\e62e"; }

.icon-ic_knowledge_border_:before { content: "\e62f"; }

.icon-ic_knowledge_px:before { content: "\e633"; }

.icon-shenpi-:before { content: "\e627"; }

.icon-ERP_xqcaigou:before { content: "\e65d"; }

.icon-shenpijujue:before { content: "\e674"; }




body,html{
	height:100%;
	color: #444;
}
body {
    line-height: 24px;
    font: 15px \5FAE\8F6F\96C5\9ED1,Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
}
body *{
	outline:none;
	font-family: \5FAE\8F6F\96C5\9ED1,Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif !important;
}
a{
	${systemConfig.color!'color:#0096C4;'}
}

.layui-layout-admin .header-ukefu{border-bottom-color: #009688; ${systemConfig.backgroundColor!'background-color: #32c24d;'}}
.header-ukefu{
	height:50px;
	line-height:50px;
}
.layui-layout-admin .layui-side{
	top:50px;
}
.layui-layout-admin .layui-body{
	top:50px;
	bottom:0px;
}